/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-primary;
}

.error {
  background-color:$color-secondary;
}

.info {
  background-color: $color-third;
}

.success {
  background-color: $color-fourth;
}

.warning {
  background-color: $color-five;
}
